[submodule "flow"]
	path = flow
	url = https://github.com/mico-corp/flow
[submodule "nodeeditor"]
	path = nodeeditor
	url = https://github.com/mico-corp/nodeeditor
[submodule "core_mplugin"]
	path = core_mplugin
	url = https://github.com/mico-corp/core_mplugin
[submodule "slam_mplugin"]
	path = slam_mplugin
	url = https://github.com/mico-corp/slam_mplugin
[submodule "cameras_mplugin"]
	path = cameras_mplugin
	url = https://github.com/mico-corp/cameras_mplugin
[submodule "dnn_mplugin"]
	path = dnn_mplugin
	url = https://github.com/mico-corp/dnn_mplugin
[submodule "visualizers_mplugin"]
	path = visualizers_mplugin
	url = https://github.com/mico-corp/visualizers_mplugin
[submodule "python_mplugin"]
	path = python_mplugin
	url = https://github.com/mico-corp/python_mplugin
[submodule "math_mplugin"]
	path = math_mplugin
	url = https://github.com/mico-corp/math_mplugin
[submodule "fastcom_mplugin"]
	path = fastcom_mplugin
	url = https://github.com/mico-corp/fastcom_mplugin
[submodule "robotics_mplugin"]
	path = robotics_mplugin
	url = https://github.com/mico-corp/robotics_mplugin.git
[submodule "arduino_mplugin"]
	path = arduino_mplugin
	url = https://github.com/mico-corp/arduino_mplugin
[submodule "ml_mplugin"]
	path = ml_mplugin
	url = https://github.com/mico-corp/ml_mplugin
[submodule "simulation_mplugin"]
	path = simulation_mplugin
	url = https://github.com/mico-corp/simulation_mplugin
[submodule "ar_mplugin"]
	path = ar_mplugin
	url = https://github.com/mico-corp/ar_mplugin
[submodule "dvs_mplugin"]
	path = dvs_mplugin
	url = https://github.com/mico-corp/dvs_mplugin
